button {
  cursor: pointer;
}
body {
  font-family: "Roboto", sans-serif;
  color: #2e2f42;
  letter-spacing: 0.02em;
}
.body {
  color: #434455;
  background-color: #ffffff;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
}
.logo-part {
  color: #2e2f42;
}
.navigation-item {
  line-height: 1.5;
}
.navigation-list-item {
  font-weight: 500;
}
.navigation-list-item:focus,
.navigation-list-item:hover {
  color: #404bbf;
}
.address {
  font-style: normal;
}
.contacts {
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
}
.contacts:hover,
.contacts:focus {
  color: #404bbf;
}
.header-hero {
  background-color: #2e2f42;
}
.hero-title {
  font-weight: bold;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  color: #ffffff;
}
.button-text {
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
}
.button-text:hover,
.button-text:focus {
  background-color: #404bbf;
}
.main-content-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
}
.team-section {
  background-color: #f4f4fd;
}
.team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
}
.team-card {
  background-color: #ffffff;
}
.team-card-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
}
.portfolio-section {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
}
.project-card-item {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
}
.footer {
  background-color: #2e2f42;
}
.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
}
.logo-part-footer {
  color: #f4f4fd;
}
.footer-p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  color: #f4f4fd;
}
