h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}
a {
  text-decoration: none;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  width: 100%;
  max-width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.section {
  padding: 120px;
}
.header {
  border-bottom: 1px solid #e7e9fc;
}
.page-header-container {
  display: flex;
  align-items: center;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  text-decoration: none;
}

.logo {
  margin-right: 76px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
}
.logo-part {
  color: #2e2f42;
}
.navigation {
  display: flex;
  align-items: center;
}
.navigation-list {
  display: flex;
  gap: 40px;
  align-items: center;
}
.navigation-item {
  line-height: 1.5;
}

.navigation-list-item:focus,
.navigation-list-item:hover {
  color: #404bbf;
}

.navigation-list-item {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  display: block;
}
.address {
  font-style: normal;
  margin-left: auto;
}
.contact-info {
  display: flex;
  gap: 40px;

  align-items: center;
}
.contacts {
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.contacts:hover,
.contacts:focus {
  color: #404bbf;
}

.header-hero {
  background-color: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
}
.hero-title {
  max-width: 496px;
  font-weight: bold;
  font-size: 56px;
  line-height: 1.07;
  margin: auto;
  color: #ffffff;
  letter-spacing: 0.02em;
  padding-bottom: 48px;
}

.button-text {
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  margin: auto;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button-text:hover,
.button-text:focus {
  background-color: #404bbf;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-content {
  padding-top: 120px;
  padding-bottom: 120px;
}
.main-content-list {
  display: flex;
  gap: 24px;
}
.main-content-list-item {
  width: calc((100% - 72px) / 4);
}
.main-content-item {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.paragraph {
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
  letter-spacing: 0.02em;
}

.team-section {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}
.team-card-list {
  display: flex;
  gap: 24px;
}
.team {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.team-card-container {
  padding: 32px 0;
}
.team-card {
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}
.team-card-item {
  text-align: center;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.paragraph-team-card {
  text-align: center;
}
.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-section {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.project-card-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.project-card-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.project-card-item {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.project-card-list-item {
  width: calc((100% - 48px) / 3);
}

.footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}
.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
}
.logo-link-footer {
  display: inline-block;
  margin-bottom: 16px;
}
.logo-part-footer {
  color: #f4f4fd;
}
.footer-p {
  font-size: 16px;
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
  width: 264px;
}
