.body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0.02em;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo-part {
  color: #2e2f42;
}
.navigation-list {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.navigation-list-item {
  font-weight: 500;
  color: #2e2f42;
}
.navigation-list-item:focus,
.navigation-list-item:hover {
  color: #404bbf;
}
.address {
  font-style: normal;
}
.email {
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
}
.email:hover,
.email:focus {
  color: #404bbf;
}
.tel {
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
}
.tel:hover,
.tel:focus {
  color: #404bbf;
}

.header-hero {
  font-weight: bold;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  background-color: #2e2f42;
  text-align: center;
  color: #ffffff;
}
.button {
  background-color: #4d5ae5;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
}
.button:hover,
.button:focus {
  background-color: #404bbf;
}
.main-content-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
