.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
}

.logo-part-footer {
  color: #f4f4fd;
}

/* MOBILE */

@media screen and (max-width: 768px) {
  .footer {
    background-color: #2e2f42;
    padding-top: 97px;
    padding-bottom: 96px;
  }

  .logo-link-footer {
    display: flex;
    margin-bottom: 16px;
    text-align: center;
    justify-content: center;
  }

  .footer-p {
    font-size: 16px;
    line-height: 1.5;
    color: #f4f4fd;
    letter-spacing: 0.02em;
    width: 288px;
    margin-right: auto;
    margin-left: auto;
  }

  .social-media {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    text-align: center;
    margin-bottom: 16px;
  }

  .footer-links-list {
    display: flex;
    justify-content: center;
    gap: 16px;
  }

  .footer-link-item {
    width: 40px;
    height: 40px;
  }

  .footer-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #f4f4fd;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .footer-social-links {
    padding-top: 72px;
  }

  .subscribe-paragraph {
    padding-top: 72px;
    margin-bottom: 16px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
  }

  .subscribe-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .subscribe-input {
    width: 288px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
    opacity: 0.3;
  }

  .subscribe-input::placeholder {
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    line-height: 2;
    letter-spacing: 0.04em;
  }

  .submit-btn-footer {
    background-color: #4d5ae5;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 4px;
    min-width: 165px;
    height: 40px;
    display: flex;
    cursor: pointer;
    border: none;
    color: #ffffff;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* TABLET */

@media screen and (min-width: 768px) and (max-width: 1158px) {
  .footer {
    background-color: #2e2f42;
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .footer-container {
    width: 584px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
  }

  .footer-p {
    padding-top: 17px;
    font-size: 16px;
    line-height: 1.5;
    color: #f4f4fd;
    letter-spacing: 0.02em;
    width: 264px;
    margin-bottom: 72px;
  }

  .social-media {
    text-align: left;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
  }

  .footer-links-list {
    margin-top: 16px;
    display: flex;
    gap: 16px;
  }

  .footer-link-item {
    width: 40px;
    height: 40px;
  }

  .footer-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #f4f4fd;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .subscribe-paragraph {
    margin-bottom: 16px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  .subscribe-form {
    display: flex;
    gap: 24px;
  }

  .subscribe-input {
    width: 288px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
    opacity: 0.3;
  }

  .subscribe-input::placeholder {
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    line-height: 2;
    letter-spacing: 0.04em;
  }

  .submit-btn-footer {
    background-color: #4d5ae5;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    min-width: 165px;
    height: 40px;
    display: flex;
    cursor: pointer;
    border: none;
    color: #ffffff;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
  }
}
/* DESKTOP */

@media screen and (min-width: 1158px) {
  .footer {
    background-color: #2e2f42;
    padding-top: 120px;
    padding-bottom: 100px;
  }

  .footer-container {
    display: flex;
    align-items: center;
  }

  .container-logo {
    margin-right: 120px;
  }

  .logo-link-footer {
    text-align: left;
  }

  .footer-p {
    margin-top: 16px;
    font-size: 16px;
    line-height: 1.5;
    color: #f4f4fd;
    letter-spacing: 0.02em;
    width: 264px;
  }

  .footer-social-links {
    margin-right: 90px;
  }

  .social-media {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
  }

  .footer-links-list {
    display: flex;
    gap: 16px;
  }

  .footer-link-item {
    width: 40px;
    height: 40px;
  }

  .footer-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #f4f4fd;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .footer-link:hover,
  .footer-link:focus {
    background-color: #31d0aa;
  }

  .subscribe-form {
    display: flex;
    gap: 24px;
  }

  .subscribe-paragraph {
    margin-top: 0;
    margin-bottom: 16px;
    color: var(--WHITE, #fff);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  .subscribe-input {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: #ffffff;
  }

  .subscribe-input::placeholder {
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    line-height: 2;
    letter-spacing: 0.04em;
  }

  .submit-btn-footer {
    background-color: #4d5ae5;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 4px;
    min-width: 165px;
    height: 40px;
    display: flex;
    cursor: pointer;
    border: none;
    color: #ffffff;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
  }

  .submit-btn-footer:hover,
  .submit-btn-footer:focus {
    background: #404bbf;
  }
}
