.container {
  padding-right: 16px;
  padding-left: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
}

@media screen and (min-width: 320px) {
  .page-header-container {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .page-header-container {
    width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .page-header-container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

/* .container {
  width: 100%;
  max-width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
} */
